<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-12'>
      <h2 style="text-align:center">Atenção!</h2>
      <br>
      <p> É necessário aceitar a permissão de posts para continuar. </p>
      <p> Veja <a href='https://www.facebook.com/help/218345114850283'>aqui</a> como administrar suas permissões e tente novamente.</p>
    </div>
  </div>
</div>
