<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-12'>
      <p> Este aplicativo é parte da minha pesquisa de mestrado na USP-EACH, e permite identificar os principais traços da sua personalidade.</p>
      <p> Para utilizá-lo, você deve responder 44 perguntas da forma mais sincera possível, <strong> pensando em como você realmente é hoje </strong> e não como gostaria de ser.
      <p> A exatidão da sua resposta é importante não apenas para que os resultados sejam corretos, mas também para que sejam úteis para a minha pesquisa</p>
      <p> Ao prosseguir você concorda com a <%= link_to 'política de uso', user_policy_path, target: '_blank' %> e os
          <%= link_to 'termos dessa pesquisa', research_terms_path, target: '_blank' %>.</p>
      <%= link_to '/auth/facebook', class: 'btn btn-success col-md-offset-10' do %>
        Prosseguir <i class='glyphicon glyphicon-chevron-right'></i>
      <% end %>
    </div>
  </div>
</div>
