<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-12'>
      <h2 style="text-align:center"> Termo de Consentimento Livre e Esclarecido para participação em pesquisa
        <br>
        (Processamento de Língua Natural)
      </h2>
      <br>
      <p>Eu ​concordo em participar da pesquisa em Ciência da Computação conforme solicitado, e declaro que:</p>
      <ol>
        <li>
          Detalhes dos procedimentos e riscos envolvidos me foram satisfatoriamente explicados. Entendo que estes riscos ­ em especial, desconforto decorrente de fatiga visual ou postura ­são mínimos, e não maiores do que os que seriam verificados na utilização normal de um computador (por exemplo, em uma situação de uso normal da internet) por um período de 30 minutos.
        </li>
        <li>
          Eu concordo que minha participação seja registrada em formato impresso e/ou eletrônico, e que esta informação seja utilizada para fins de pesquisa científica.
        </li>
        <li>
          Eu entendo que:
          <ul>
            <li>
              Não há benefício direto para minha pessoa decorrente de minha participação. Indiretamente, entretanto, entendo que o resultado desta pesquisa pode levar ao desenvolvimento de sistemas computacionais mais próximos do desempenho humano e/ou mais fáceis de utilizar e/ou com mais facilidade de interação.
            </li>
            <li>
              Eu tenho total liberdade para desistir de participar a qualquer momento, bem como me recusar a responder qualquer pergunta ou a realizar qualquer tarefa que me seja designada.
            </li>
            <li>
              Eu entendo que, em qualquer ocasião e por quaisquer motivos, tenho total de liberdade de me dirigir à Comissão de Ética desta instituição (contato ao final desta página).
            </li>
            <li>
              Independentemente de eu participar ou não, ou desistir após ter participado, isso não terá nenhum efeito sobre minha eventual relação com a Universidade de São Paulo.
            </li>
          </ul>
        </li>
      </ol>
      <p>Eu declaro que todo o procedimento deste estudo foi devidamente explicado ao participante, e que ele/ela considera ter entendido o que este envolve, e concordou em participar livremente. Comprometo­me também a tratar os dados coletados com sigilo e exclusivamente para fins da pesquisa na forma autorizada.</p>
      <br>
      <strong> Responsável: IVANDRÉ PARABONI (ivandre@usp.br, fone 3091­8837) </strong>
      <p>
        Comitê de Ética em Pesquisa em Sujeitos Humanos (cep­each@usp.br, fone 3091­1046)
        <br>
        Av Arlindo Bettio, 1000 São Paulo SP
      </p>
      <br>
      <%= link_to root_path, class: 'btn btn-success' do %>
        Voltar <i class='glyphicon glyphicon-chevron-left'></i>
      <% end %>
    </div>
  </div>
</div>
