<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-12'>
      <h2  style="text-align:center">Política de uso e privacidade</h2>
      <br>
      <p> Ao aceitar esse termo o participante entende e autoriza que seus dados sejam usados para pesquisa de forma anônima. </p>
      <p> Além das respostas dadas pelos participantes no questonário de personalidade também serão coletados do facebook: idade, localização, gênero, e posts públicos. O uso das respostas fornecidas sera a base de um projeto de pesquisa, onde os posts serão usados para avaliar a personalidade do participante. A localização, idade e o gênero, serão coletados para fins estatísticos.
      <p> Os dados apenas são coletados quando o participante aceita esses termos de uso. As respostas fornecidas serão usadas exclusivamente para fins de pesquisa e seu uso será apenas, única e exclusivamente, para tal fim.</p>
      <p> Jamais será feita qualquer divulgação da identidade do participante ou comunicação que seus dados foram fornecidos para essa pesquisa, a não ser que este expresse tal desejo. </p>
      <p> Caso o participante não concorde com qualquer um dos termos listados aqui, ele não deve responder ao questionário.</p>
      <p> Para saber mais sobre a pesquisa e seus resultados envie um
      <a href="mailto: barbara.barbosa.silva@usp.br?Subject=Pesquisa%20Personalidade" target="_top">email.</p>
    </div>
  </div>
</div>
